.elementor-4081 .elementor-element.elementor-element-696af88{--display:flex;--min-height:100vh;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overlay-opacity:1;--padding-top:0px;--padding-bottom:20px;--padding-left:35px;--padding-right:35px;}.elementor-4081 .elementor-element.elementor-element-696af88:not(.elementor-motion-effects-element-type-background), .elementor-4081 .elementor-element.elementor-element-696af88 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2025/04/%c3%98%c2%b5%c3%99%c2%88%c3%98%c2%b1.html");background-repeat:no-repeat;background-size:cover;}.elementor-4081 .elementor-element.elementor-element-696af88::before, .elementor-4081 .elementor-element.elementor-element-696af88 > .elementor-background-video-container::before, .elementor-4081 .elementor-element.elementor-element-696af88 > .e-con-inner > .elementor-background-video-container::before, .elementor-4081 .elementor-element.elementor-element-696af88 > .elementor-background-slideshow::before, .elementor-4081 .elementor-element.elementor-element-696af88 > .e-con-inner > .elementor-background-slideshow::before, .elementor-4081 .elementor-element.elementor-element-696af88 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-4081 .elementor-element.elementor-element-e37c7f7 .aux-the-shape{background-color:#F3C716;width:124px;height:147px;border-radius:8px 8px 0px 8px;overflow:hidden;}.elementor-4081 .elementor-element.elementor-element-e37c7f7{width:auto;max-width:auto;transition-duration:1000ms;transition-property:all;position:absolute;bottom:-7px;left:-30px;transition-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-4081 .elementor-element.elementor-element-e37c7f7 .aux-widget-container{text-align:center;}.elementor-4081 .elementor-element.elementor-element-9bdde20{--display:flex;--padding-top:180px;--padding-bottom:90px;--padding-left:0px;--padding-right:0px;}.elementor-4081 .elementor-element.elementor-element-6101478 .aux-modern-heading-primary{background-color:#02010100;font-family:"montserrat-arabic-re", Sans-serif;font-size:50px;font-weight:400;text-transform:capitalize;color:#F3C716;}.elementor-4081 .elementor-element.elementor-element-6101478{width:100%;max-width:100%;animation-duration:1800ms;animation-timing-function:cubic-bezier(0.77,0,0.175,1);}.elementor-4081 .elementor-element.elementor-element-6101478 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:100px 0px 0px 0px;}.elementor-4081 .elementor-element.elementor-element-6101478 .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-4081 .elementor-element.elementor-element-d9eebab{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:stretch;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--margin-top:165px;--margin-bottom:100px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:35px;--padding-right:35px;}.elementor-4081 .elementor-element.elementor-element-9d00346{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .aux-media-image{border-radius:12px 12px 12px 12px !important;}.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-tax a{color:var( --e-global-color-74ef9184 );}.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-tax{font-family:"montserrat-arabic-re", Sans-serif;font-size:16px;font-weight:500;text-transform:capitalize;font-style:normal;}.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .aux-iso-item{margin-bottom:30px !important;}@media(max-width:1024px){.elementor-4081 .elementor-element.elementor-element-9bdde20{--padding-top:120px;--padding-bottom:80px;--padding-left:0px;--padding-right:0px;}.elementor-4081 .elementor-element.elementor-element-6101478 .aux-modern-heading-primary{font-size:60px;}.elementor-4081 .elementor-element.elementor-element-d9eebab{--margin-top:80px;--margin-bottom:80px;--margin-left:0px;--margin-right:0px;}.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-tax{font-size:16px;}}@media(max-width:767px){.elementor-4081 .elementor-element.elementor-element-696af88{--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );}.elementor-4081 .elementor-element.elementor-element-e37c7f7 .aux-the-shape{width:90px;height:110px;}.elementor-4081 .elementor-element.elementor-element-6101478 > .elementor-widget-container{margin:0px 0px 150px 0px;}.elementor-4081 .elementor-element.elementor-element-6101478 .aux-modern-heading-primary{font-size:40px;}.elementor-4081 .elementor-element.elementor-element-d9eebab{--margin-top:100px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-4081 .elementor-element.elementor-element-e4fa7f4 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(min-width:1025px){.elementor-4081 .elementor-element.elementor-element-696af88:not(.elementor-motion-effects-element-type-background), .elementor-4081 .elementor-element.elementor-element-696af88 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-attachment:fixed;}}/* Start custom CSS for aux_recent_portfolios_grid, class: .elementor-element-e4fa7f4 */.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-media{
    margin-bottom: 0;
}
.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-main{
    margin-bottom: 0;
    background: linear-gradient(180deg, var( --e-global-color-11a18939 ) 0%, var( --e-global-color-76d68530 ) 100%);
    border-radius: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 48px 45px 38px 45px;
    height: 80px; /* تقليل الارتفاع */
    transition: all 500ms cubic-bezier(0.25, 1, 0.5, 1);
}
.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .aux-col:hover .entry-main{
    background: transparent;
    bottom: 65%;
}
.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-media a:after{
    content: "";
    width: 100%;
    height: 0;
    background-image: linear-gradient(139deg, var(--e-global-color-11a18939) 0%, var(--e-global-color-76d68530) 100%);
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 12px;
}
.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .aux-col:hover .entry-media a:after{
    height: 100%;
}
.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-header{
    margin-bottom: 0;
}
.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-info {
    display: inline-block;
    margin-bottom: 0;
    background: #f3c716; /* استبدال التدرج بلون واحد */
    padding: 2px 25px;
    border-radius: 8px;
    position: absolute;
    left: 45px;
    top: -15px;
}
.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .aux-col:hover .entry-info{
    top: 0px;
}
.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .aux-col img{
    box-shadow:0px 20px 55px #00000033;
    border-radius: 12px;
}
.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .aux-media-image{
    overflow: visible;
}
.elementor-4081 .elementor-element.elementor-element-e4fa7f4  .aux-iso-item{
   margin-bottom: 50px!Important
}
.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .aux-widget-recent-portfolios .aux-isotope-layout{
    overflow: visible;
}
.elementor-4081 .elementor-element.elementor-element-e4fa7f4 .wpulike{
    display: none;
}
@media screen and (max-width:1440px) and (min-width:1025px){
    .elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-main{
        padding: 40px 20px 38px 20px !important;
        height: 70px; /* تقليل الارتفاع */
    }
    .elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-title a{
        font-size:24px !important;
    }
    .elementor-4081 .elementor-element.elementor-element-e4fa7f4 .aux-mc-item:hover .entry-main {
        bottom: 57% !important;
    }
    .elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-info{
        left:20px !important;
    }
}
@media screen and (max-width:1024px) and (min-width:900px){
    .elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-title a{
        font-size:28px !important;
    }
    .elementor-4081 .elementor-element.elementor-element-e4fa7f4 .aux-col:hover .entry-main {
        bottom: 70% !important;
    }
}
@media screen and (max-width:1024px) and (min-width:768px){
    .elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-main{
        padding: 40px 20px 30px 20px !important;
        height: 60px; /* تقليل الارتفاع */
    }
    .elementor-4081 .elementor-element.elementor-element-e4fa7f4 .entry-info{
        left:20px !important;
    }
}
@media screen and (max-width:900px) and (min-width:768px){
    .elementor-4081 .elementor-element.elementor-element-e4fa7f4 .aux-col:hover .entry-main {
        bottom: 62% !important;
    }
}/* End custom CSS */